[2021-01-12 09:49] Roald87 opened #1 "Remove empty VAR's"
Remove empty VAR's in function blocks, methods etc.

[code]

[2021-01-12 09:58] Roald87 opened #2 "Add new line at the end of declaration/implementation for cleaner diffs"
Currently if you add some code on the last line of (mainly) the implementation part and there is no new line at the end of the file, you will see the following diff:

[code]

However, if there would be a new line at the end of the file you will see:

[code]

For the declaration part it will be less important, since they will usually end with `END_VAR`, but still a nice improvement for the few time

[2021-01-12 10:06] Roald87 opened #3 "Option to format on commit with pre-commit hook"
Currently you have to manually run *STweep*. This can be easily forgotten.

To enforce consistent formatting it would be nice if a pre-commit hook could be added. The hook would automatically run *STweep* on each commit. See for example [here](https://github.com/psf/black#version-control-integration).

[2021-01-12 10:14] Roald87 opened #4 "Add option to format whole project at once"
Currently all files have to be manually formatted one by one. Not such a big deal for new projects, but or existing ones that can be quite a lot of work.

Would be nice if there would be an option for format a whole project at once. For safety you could add a check like I did in *TcBlack* with the [`--safe`](https://github.com/Roald87/TcBlack#usage) option, to ensure no unintended changes were mad

[2021-01-12 11:05] Roald87 opened #5 "Add trailing comma after last argument in method/FB call for smaller diffs"
If a comma is added after the last argument in a function call for functions with a lot of arguments, then the diff will be smaller if you add a new argument later on.

Example without last trailing comma

[code]
Example with last trailing comma

[code]

[2021-01-12 12:53] Barteling commented on #4
This is a feature I'm working on. In STweep for Codesys this is already in beta.
There will be an option in the solution explorer context menu to format a node and all of it's child nodes. For example a POU with it's child nodes like methods and properties, or an complete PLC project.

Performance might be an issue especially to keep the undo function available, this is probably limited to a numbe

[2021-01-12 13:06] Roald87 opened #6 "Improve formatting of array structs"
Not sure if this is a feature or a bug.

Anyway. When formatting the lines below, I do not want to change them. Currently they do change, I guess because I set the keep existing line breaks to false. However, this is not the way to format a struct I would argue.

[code]

- STweep version 1.0.5-beta
- [settings.txt](https://github.com/Barteling/STweep/files/5802213/settings.txt) (had to change exte

[2021-01-12 13:10] Roald87 commented on #4
Yeah I guess as long as you only add or remove white space. not much can go wrong. Although we saw that with `VAR_INST` it actually removed an important bracket.

Good to hear you're already working on it!

[2021-01-12 14:30] Barteling commented on #6
I agree. I'll check the possibilities.

[2021-01-12 16:05] Roald87 opened #7 "Formatting of long function block names with extends and implements"
Currently the this is formatted version of a very long function name.

[code]

I think it would be better to have the `EXTENDS` and `IMPLEMENTS` in front of the names:

[code]

My preference would be option 1. And then with a single interface you could also do:

[code]

Or something else.

- STweep v 1.0.5-beta
- [settings.txt](https://github.com/Barteling/STweep/files/5803271/settings.txt)

[2021-01-12 16:47] HAHermsen opened #8 "Add parsing/reformat for single line and multiline comment blocks optionally"
It would be usefull to have STweep also parse/reformat comments optionally:

Personally I prefer to see all single line comments with a trailing space:

`
//Not this!

// But this :-)

`
Also some rules could be applied to multiline comments (aka comment blocks):

`(*A multiline block on a single line*) `
transform into something like:
`
(*
    A multiline block spreaded like a codeblock would be

[2021-01-12 16:50] HAHermsen commented on #8
wow MD isn't helping me ;-) plus I am way too lazy!

[2021-01-12 17:25] Barteling commented on #2
Do you not use the TwinCAT diff tool to compare objects? Then you don't have to worry about the surrounding XML.
Anyway I believe this is a small addition i'll put it on the list

[2021-01-12 17:34] Barteling commented on #1
This is an use full addition! I put it on my list. But my first focus is on code layout, Stability and features of the formatter.
In a second stage of STweep I will concentrate more on code clean up like this.
I will close this for now

[2021-01-12 17:34] #1 closed

[2021-01-12 17:36] Barteling commented on #3
This is actually pretty high on my priority list. I think I will come with an STweep command line tool. STweep CLI.
Which you can also use in build servers etc.

[2021-01-12 17:37] Barteling commented on #5
as with #1  a good addition, it's on the list but in a later stage

[2021-01-12 17:37] #5 closed

[2021-01-12 17:39] Barteling commented on #7
Agree, there is room for improvement here

[2021-01-12 17:43] Barteling commented on #8
This might be usefull, but also tricky to implement, Structured text at least has some rules to follow, comments are completely random. Of course a space after // is doable.

But it would rather put some energy in parsing pragma's first.
I'll put this on my feature list, but not with an very high priority ^^

[2021-01-12 17:43] #8 closed

[2021-01-12 17:48] Barteling opened #9 "Improve array struct"
Not sure if this is a feature or a bug.

Anyway. When formatting the lines below, I do not want to change them. Currently they do change, I guess because I set the keep existing line breaks to false. However, this is not the way to format a struct I would argue.

[code]

- STweep version 1.0.5-beta
- [settings.txt](https://github.com/Barteling/STweep/files/5802213/settings.txt) (had to change exte

[2021-01-12 17:49] Barteling commented on #9
submitted by @Roald87 (sorry deleted your original issue)

[2021-01-12 19:25] Roald87 commented on #2
No not really. Somehow the TcCompare tool breaks all the time and I gave up using it. It was especially annoying if I wanted to compare for example xml files while TcCompare was selected as the compare tool. It refused to open the xml file and there was no easy way to switch to another tool. Also it is convenient if you view a commit on Gitlab/GitHub/etc., since they always show the plain text fil

[2021-01-12 22:05] Barteling commented on #9
I fixed this in 1.0.6-Beta for TwinCAT, just released. And for Codesys 1.4.4-Beta (not yet released).

Formatting result with line break at 100 and keep existing line breaks turned of.

`FUNCTION POU : BOOL
VAR_INPUT
    SomeArrayWithStruct : ARRAY[1..2] OF ST_Struct := [
        (var1 := 728, var2 := 503, var3 := 209, var4 := 1539, var5 := 1),
        (var1 := 728, var2 := 503, var3 := 209, var4

[2021-01-12 22:15] Barteling commented on #7
I fixed this in 1.0.6-Beta for TwinCAT, just released. And for Codesys 1.4.4-Beta (not yet released).

This is your option 3 more or less i think, which was now the easiest to implement.

future improvement might be needed here, for example the optional indent of extends and implements
Formatting result with line break at 100 and keep existing line breaks turned of.

<pre>FUNCTION_BLOCK FB_SomeSer

[2021-01-12 22:15] #7 closed

[2021-01-13 08:18] Roald87 opened #10 "Improve formatting of fluent interfaces"
Currently when you format a fluent interface, it chains all of them together and breaks after the dot.

[code]

I think it is better to 1) break before the dot and 2) keep each statement on a separate line, if they exceed the maximum length. I guess aligning each method call would be an option. Personally I'm not a fan of aligning statements, since they can introduce unnecessary diffs when you cha

[2021-01-13 08:19] Roald87 commented on #8
@HAHermsen you know there is a preview?

[2021-01-13 08:47] Roald87 commented on #9
Just tested with v1.0.6-beta and for the example it is working. However, that was an anonymized sample. I just tested it with the real code and there it failed. I tried to locate the point of failure and there seems to be an issue with the last struct element:

[code]

but if I change `fM` to `var5` is works.

[2021-01-13 08:47] Barteling commented on #10
I will look at it. It will probably come with settings > Prefer wrap before or after DOT in chained methods.
Chained method wrapping: Break always, break if line length over flow,   break if line length overflow or multiline
Like you have chained binary expressions.

[2021-01-13 08:57] Roald87 opened #11 "Warning when opening Visual Studio after upgrading to 1.0.6"
I just upgraded to v1.0.6 from 1.0.5. When I opened visual studio for the first time I got this error:

![error](https://user-images.githubusercontent.com/20192767/104428581-ef135e00-5584-11eb-8d1e-986d82bb8e1b.PNG)
Full error from ActivityLog: [error.txt](https://github.com/Barteling/STweep/files/5807475/error.txt)

I then closed visual studio and got the following error:

![error_on_close](https

[2021-01-13 09:47] Barteling commented on #9
The change fm to var5 trigger an length overflow on that line. With fm the line length is <100 so the formatter is happy with the result.

In general the formatter consider line breaks as bad. if it can do it with one line break it wont do it in two.  With Var5 it does need two breaks so in that case  it's fine for the formatter to keep a struct initializer on one line.

This unless there are spec

[2021-01-13 11:18] Roald87 opened #12 "Warning on failed format"
When trying to format the following code which contains an error (missing semicolon)

[code]

no formatting is done. It would be nice if there is some sort of pop-up why no formatting was done.

When I was trying to format some code earlier, it didn't do anything and it took me a minute before I realized there was a missing semicolon.

[2021-01-13 11:27] HAHermsen commented on #12
No shouldn't the code be compiled first before formatting?
Otherwise the formatter will change into a semi compiler itself..

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Roald87 <notifications@github.com>
Sent: Wednesday, January 13, 2021 12:19:06 PM
To: Barteling/STweep <STweep@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [

[2021-01-13 12:39] Roald87 commented on #12
Not that I know.

[2021-01-13 12:49] Barteling commented on #12
STweep does not rely on any other parser/compiler for the formatting process then it's own.

I considered giving a warning if not all text can be parsed and thus formatted, but I did not decide on that yet.
Other formatters i personally work with like resharper are also not showing warnings if they cannot format all code.

[2021-01-13 12:58] Barteling commented on #11
I'm not sure what to do with this.
I cannot reproduce it, and STweep has nothing to do with TcOpcUaSrv.VSIX

The activity log mentions that a file is in use by another process, perhaps a visual studio bug?
Since STweep is working, i'll close this issue for now but if it happens again after a STweep installation let me know.

[2021-01-13 12:58] #11 closed

[2021-01-13 14:01] Roald87 commented on #11
No problem. Wanted to report it just in case you get another report.

[2021-01-14 10:12] Roald87 commented on #12
I think it would be useful.

[2021-01-15 11:57] RogerChristopher opened #13 "VAR_INST in method causes invalid operation exception"
See screenshot - if I change the VAR_INST to VAR, formatter works correctly

Using STweep 1.0.3.0

![Capture](https://user-images.githubusercontent.com/32986382/104724562-bdd39300-5728-11eb-97a3-19dfec977212.PNG)

[2021-01-15 12:59] RogerChristopher commented on #13
Just updated to 1.0.6 and it seems to be fixed.

[2021-01-15 12:59] #13 closed

[2021-01-15 14:14] Barteling commented on #13
This was fixed in 1.0.4 and higher. Thanks for confirming.

[2021-01-16 11:31] HAHermsen opened #14 "Only STweep a highlighted mouse selection"
Hi,

I'd like to see a feature which lets it only STweep a highlighted selection of text instead of the entire code or declaration tab.
This enables users to Stweep arbitrary number lines of selected text of a single tab only.

Thank you

[2021-01-16 13:22] RogerChristopher commented on #14
I thought this, but the best use of STweep is to apply it to the whole project to enforce a consistent style amongst multiple users.

Given that it may be a while before all the formatting use cases are implemented, a better option might be to be able to mark a section of code that should be ignored by STweep by using a custom attribute. This would allow custom formatting of code where STweep does

[2021-01-16 13:30] HAHermsen commented on #14
All true, but also please consider that not everybody works in a team or behind a CI/CD system with a webhooks setup.
Like me, I don't use a full fledged CI/CD system for my code. That would be overkill. I think that STweep can cater to small human interaction up to full fledged automated experience.

[2021-01-17 10:44] Roald87 commented on #14
I agree with @RogerChristopher, that using a custom attribute would be a better idea. Other alternatives could be a region, or comment.

[2021-01-17 12:29] HAHermsen commented on #14
See updated request above

[2021-01-17 13:18] Barteling commented on #14
Partial formatting is on the to do list. It has been requested more.

I believe that formatting the active selection as well as skipping marked regions is useful.
For skipping regions I think using a comment might be the most practical way to go:
//STweep disable
 ignored code
//STweep enable  or and of file..

[2021-01-25 21:33] Barteling commented on #2
Fixed in 3.0.0-Beta

[2021-01-25 21:33] #2 closed

[2021-01-25 21:42] Barteling opened #15 "IF statements on single line"
I've had some requests to place IF statements under certain conditions on a single line:
<PRE>
IF Condition THEN Action(); END_IF
</PRE>

mostly because programmers something prefer to stack them like:
<PRE>
IF Condition THEN Action(); END_IF
IF Condition2 THEN Action2(); END_IF
IF Condition3 THEN Action3(); END_IF
</PRE>

instead of:
<PRE>
IF Condition THEN
    Action();
END_IF

IF Condition2 THE

[2021-01-26 07:49] HAHermsen commented on #15
Hi,

Just my two cents:

IMHO, stacking does not improve readability. The PLCOpen guidelines clearly say to write this over into amultiline with a mandatory ELSE clause, but this last point is a bit to strict if you ask me.
I dare to even say thatyour example could be rewritten to a case:  Condition1, 2 and 3 can be refactored into a single enumerator.

I think STweep could do with several setting

[2021-01-26 08:06] Roald87 commented on #15
My two cents. For me putting the complete IF statement on a single line is also not necessary. I do not get this obsessive behavior over putting everything on a single line anyway. Usually readability is better when statements always have the same format.

[2021-01-26 20:31] RogerChristopher commented on #15
I agree with Roald.

On Tue, 26 Jan 2021, 08:07 Roald87, <notifications@github.com> wrote:

[2021-01-27 09:30] Roald87 opened #16 "No space is added after REF="
When formatting the following code, no space it placed after `REF=`. I expected it to behave the same as with `:=`.

# Example
[code]
STweep v2.0.0-beta
[settings.txt](https://github.com/Barteling/STweep/files/5879044/settings.txt)

[2021-01-27 09:51] Barteling commented on #16
Can do you a quick check where you set the new "Spaces around assignment operator in invocation call" setting to true?

[2021-01-27 09:59] Roald87 commented on #16
Do you mean this one? I can't find the option which is called exactly what you said.

![image](https://user-images.githubusercontent.com/20192767/105974921-abdde280-608e-11eb-99cf-5c5a8cba7157.png)

[2021-01-27 10:21] Barteling commented on #16
hmm yes that's the one

[2021-01-27 10:47] Roald87 opened #17 "New line is added before comment if it exceeds the maximum line length"
[code]

STweep v2.0.0-beta
[settings.txt](https://github.com/Barteling/STweep/files/5879528/settings.txt)

[2021-01-27 10:53] Barteling commented on #17
I think this is fixed in my master branch (not yet released), i'll check it, and fix it otherwise nonetheless.

[2021-01-27 11:58] Barteling commented on #16
Actually I cannot reproduce it with STweep-2.0.0-Beta , is there something else going on? is the rest of the file formatted ok? no compiler errors?

[2021-01-27 12:47] Roald87 commented on #16
Sorry the example is indeed working. I updated the example to a non working one.

[2021-01-28 08:26] kaelev7 opened #18 "Formating an array of structured values fails"
If I run STweep on the declaration of a Function block with a pointer to an Array of structured type it will lose the type declaration for the array.

[code]
Is there a reason for the line break in the size declaration?

* STweep for TwinCAT V1.0.8
* STweep Settings file: [STweepSettings.txt](https://github.com/Barteling/STweep/files/5885733/STweepSettings.txt)
* TwinCAT 3.1.4024.12
* Microsoft Vi

[2021-01-28 09:13] Barteling commented on #18
Thanks for reporting, I'll check what is going on.

[2021-01-28 22:13] Barteling commented on #18
Fixed in release 2.0.1.
https://www.stweep.com/Releases/

[2021-01-28 22:13] #18 closed

[2021-01-28 22:13] Barteling commented on #17
Fixed in release 2.0.1.
https://www.stweep.com/Releases/

[2021-01-28 22:13] #17 closed

[2021-01-28 22:13] Barteling commented on #16
Fixed in release 2.0.1.
https://www.stweep.com/Releases/

[2021-01-28 22:13] #16 closed

[2021-01-28 22:14] Barteling commented on #15
Thanks, based on your response I believe it does not have to be high on the priority list

[2021-01-28 22:14] #15 closed

[2021-01-29 16:37] Roald87 opened #19 "Part of recently added declaration and implementation disappeared"
## Disclaimer
I just had the strangest thing and I'm not sure if it has to do with STweep, but I wanted to report it anyway. Since I have never seen it before and I just started using a new STweep version, so maybe that had something to do with it.

## Issue
I added a variable and a method to a function block, did some tests and committed my changes. Note: I of course used STweep to format it.

Th

[2021-01-29 20:38] Barteling commented on #19
Strange, just let me know if it occurs again.

[2021-02-03 14:24] Roald87 opened #20 "Line break in function block with FBinit call"
[code]

The `()` are not necessary, but they can be present.

- STweep v2.0.1
- [settings.txt](https://github.com/Barteling/STweep/files/5918990/settings.txt)

[2021-02-03 15:42] Barteling commented on #20
Bug confirmed,

With an argument it works as expected:
<pre>
PROGRAM MAIN
VAR
    fbTest : Test(A := B);
END_VAR
</pre>

With a bit of luck if have it fixed before tonights planned release.

[2021-02-03 22:08] Barteling commented on #20
Fixed in STweep for TwinCAT 2.1.0 https://www.stweep.com/releases/
Fixed in STweep for Codesys 2.1.0

[2021-02-03 22:08] #20 closed

[2021-02-03 22:08] Barteling commented on #19
I'll close this for now, but of course let me now if it happens again.

[2021-02-03 22:08] #19 closed

[2021-02-06 16:23] RogerChristopher opened #21 "Parameter assignement differs between declaration section and implementation section"
When a FB is initialised with parameters defined in a FB_Init methods, assignment to these parameters is not formatted in the same way as assignment to VAR_INPUT parameters in the implementation section.

See:
![Capture](https://user-images.githubusercontent.com/32986382/107123795-9b501800-6897-11eb-9409-5cad3bb3db36.PNG)

[2021-02-07 11:09] Barteling commented on #21
Thanks for noting, i'll check it.

[2021-02-08 07:23] Roald87 commented on #21
I noticed something similar. My settings are such that I don't want a space around `:=` in function block calls and I expected it to do the same with `FB_init` parameter assignment or struct assignment. For example:

[code]

[2021-02-10 12:58] Roald87 commented on #8
I think formatting of multi-line comments shouldn't be too difficult if they are the only thing on that line. You could just look for the first word which exceeds the maximum line length and break before this word. Or am I missing something?

This option would be convenient if you want to format the docstring of a function block or method.

[2021-02-10 15:20] Barteling commented on #8
I've some commented out code in my POU:
<pre>
(* IF TRUE THEN
    Invoke();
END_IF
FOR I:=0 TO 5 DO
    Invoke(i);
END_FOR*)
</pre>

What should the formatter make of this?

[2021-02-11 14:06] Roald87 commented on #8
Well you shouldn't have done that :p.

More seriously it is a fair point. Maybe only format lines which are too long?

Anyway I see the complexity now, better focus on the other features first.

[2021-02-12 07:51] Roald87 opened #22 "(Option to) put new line before THEN of a long if condition"
[code]

I think putting `THEN` on a new line on the same level as `IF` creates a better visual distinction of the conditions and the code to be executed.

[2021-02-12 08:51] RogerChristopher commented on #22
I think in this case it is better to indent the whole condition as a block:

IF
    Condition1
    OR Condition2 AND Condition3
    OR Condition4 AND Condition5 AND NOT Condition6 AND Condition7
THEN
    DoSomething();
END_IF

This leaves the keywords at one indent level and the condition and executed code at the next level in.

[2021-02-12 09:15] HAHermsen commented on #22
Hi!

Difficult, as this is always a matter of personal taste.
My personal taste differs from the suggestions of both above.
Ideally every taste could be 'composed' if the STweep conditioning are fine grained enough.

[code]

[2021-02-12 09:26] Barteling commented on #21
Status update, I have almost finished a beta version with improvements on the function block initializers.
I hope to have it released this weekend,

[2021-02-12 09:30] Barteling commented on #22
Thanks all for the input, i'll come back on this.

[2021-02-12 09:35] Barteling commented on #9
While working on the function block initializers from #21 I also anticipated on improvement on array structure initialization as described above. It won't be visible in the next beta but one of the releases shortly after.

[2021-02-13 21:53] Barteling commented on #21
I improved the formatting of function block initializers with the new release 3.0.0-Beta (both TwinCAT and Codesys version).
https://www.stweep.com/beta-releases

There are quite a lot new settings, (see changelog) I intend to add  the same settings to array initializers
<pre>
Var : array[0..1] of FB := [(A := B, C :=D),(A := B, C :=D)]
</pre>
And struct initializers:
<pre>
Var : Struct := (A := B

[2021-02-13 21:53] #21 closed

[2021-02-14 09:30] Roald87 commented on #22
@RogerChristopher

You mean like this?
[code]

Yeah I think I prefer that one as well actually :).

[2021-02-14 12:06] RogerChristopher commented on #22
Yes - my indenting dissappered.

On Sun, 14 Feb 2021, 09:30 Roald87, <notifications@github.com> wrote:

[2021-02-16 09:28] RogerChristopher commented on #21
Using Stweep version 3.0.0-Beta I get
[code]
But with "Align similar code in columns" checked for Variable Initialisers I would expect the assignment operators to line up:
[code]
Similarly, with no line break after the opening parenthesis, I would expect:
[code]

[2021-02-16 09:41] Barteling commented on #21
@RogerChristopher  could you send me you settings file?

[2021-02-16 10:27] RogerChristopher commented on #21
Settings file attached

On Tue, 16 Feb 2021 at 09:42, Gerhard Barteling <notifications@github.com>
wrote:

[2021-02-16 10:44] Barteling commented on #21
@RogerChristopher  hmm i don't see it, can you upload it using github instead of email?

[2021-02-16 11:04] RogerChristopher commented on #21
Attached:
[Settings.zip](https://github.com/Barteling/STweep/files/5988103/Settings.zip)

[2021-02-16 11:10] RogerChristopher commented on #21
Note that this is using Fb_init() to initialise some interfaces, so may be different to variable initialisation.

[2021-02-16 11:50] Barteling commented on #21
@RogerChristopher Yes this is different which is why i added a bunch of settings dedicated for function block initializers  in 3.0.0 Beta.
You need to have a look at these settings:
particularly  to:
-  Linebreaks and wrapping > Function block Initializers > Line break after '('  in function block initializers
(you have "keep existing line breaks" true, if there is a line break after "(" it will s

[2021-02-16 12:09] RogerChristopher commented on #21
Thanks - yes this makes sense. I was confusing variable initialisation with function block initialisation

[2021-02-16 13:51] Roald87 opened #23 "New lines are added on each STweep call at the end of the file"
In the example below a new line is added each time I press Ctrl + 4.

![new_lines](https://user-images.githubusercontent.com/20192767/108071486-11a60480-7066-11eb-99ab-9e91a9a46ba5.gif)

- STweep v3.0.0-beta
- [settings.txt](https://github.com/Barteling/STweep/files/5988997/settings.txt)

[2021-02-16 13:54] Roald87 opened #24 "New line is added between assignment and comment"
A new line is added between an assignment and a comment in the following example:

[code]

See also the gif in #23.

- STweep v3.0.0-beta
- [settings.txt](https://github.com/Barteling/STweep/files/5988997/settings.txt)

[2021-02-16 14:24] Barteling commented on #24
Seems to happen with when Blank lines at file end  > 1
bug #23 is probably related.

[2021-02-16 22:08] Barteling commented on #24
Fixed in 3.0.1-Beta

[2021-02-16 22:08] #24 closed

[2021-02-16 22:08] Barteling commented on #23
Fixed in 3.0.1-Beta

[2021-02-16 22:08] #23 closed

[2021-02-18 09:08] RogerChristopher opened #25 "Incorrect formatting of variable initialiser that sets reference"
If I reformat the following code using the attached settings...
[code]
I get...
[code]

[Settings.zip](https://github.com/Barteling/STweep/files/6001537/Settings.zip)

[2021-02-18 09:59] Barteling commented on #25
That doesnt look good, thanks for reporting.  i'll fix it asap

[2021-02-18 22:24] Barteling commented on #25
@RogerChristopher  I fixed this in 3.0.2-Beta
https://www.stweep.com/beta-releases/

[2021-02-19 07:59] #25 closed

[2021-02-24 11:06] Roald87 opened #26 "Prevent line break before ; when exceeding line length by one character"
If a line has 101 characters with a max line length setting of 100 the following will happen:

[code]

Better alternatives would be to either not strictly adhere to the max line length

[code]
Or break up the fb call as set in the settings when it exceeds 101 characters.

[code]

[2021-02-24 16:12] Barteling commented on #26
I agree that that line breaking after a semicolon does not make much sense,
That would be a minor change for me to implement, but I have to investigate if this true for all situations.

I don't think working with a more flexible line limit is a good solution. The limit should be the limit. I believe that keeps it more clear.

[2021-03-03 21:04] Barteling commented on #26
Fixed with 3.1.0Beta

[2021-03-03 21:04] #26 closed

[2021-03-03 21:05] Barteling commented on #9
Improved with 3.1.0 Beta

[2021-03-08 06:45] bobbyzap opened #27 "TwinCAT - Invocation"
Not seeing the desired output for two settings.
- Line break after '(' and before ')' in invocation.
- Alignment - Invocation call parameters. Not lining up opening parenthesis.

**STweep version info**
TwinCAT 3.10 Installed in TcXaeShell

[2021-03-08 06:47] bobbyzap commented on #27
`// Open / close issue
istep                          := 0;
steps[istep].Description       := 'INITIAL';
steps[istep].Perm.P[1].inpPerm := steps[0].outStepActive;
steps[istep].Perm.P[2].inpPerm := TRUE;
steps[istep](cfgStep             := 0,
             cfgStepTimerSeconds := E_wFovStep.initial,
             cfgNextStep         := E_wFovStep.check_health,
             TSM                 := THIS^

[2021-03-08 07:49] Barteling commented on #27
@bobbyzap  could you share a code example where this happens and an export of your settings?

[2021-03-08 19:35] bobbyzap commented on #27
arguments are not moving to a new line. Unable to upload files due to security policy at work.

[code]

[2021-03-08 20:39] Barteling commented on #27
Fixed over email

[2021-03-08 20:39] #27 closed

[2021-03-10 12:47] wla-git commented on #4
I also like this feature for TwinCAT

Is it possible to implement the option to add an attribute {STweep.ignore} to certain declarations and/or implementations?
sometimes we explicity want to deviate from the standard format

[2021-03-10 13:33] Barteling commented on #4
@wilfreddelange , yep working on this. This is also disscused in #14

[2021-03-11 09:02] Roald87 commented on #9
I just tried this again, but I still do not get the desired result. I've played around with the different options, but was unable to get the desired result.

[code]

- STweep v3.1.3
- [settings.txt](https://github.com/Barteling/STweep/files/6121750/settings.txt)

[2021-03-11 12:44] Barteling commented on #9
I agree,
I'll check it.

[2021-03-11 19:17] I-Campbell commented on #14
Comments should not effect code (particularly as noone reads them anyway ;p).
I would prefer a [custom pragma](https://help.codesys.com/webapp/_cds_f_pragmas_attribute;product=codesys;version=3.5.16.0).
[code]

[2021-03-11 21:07] Barteling commented on #9
You need to set the parameter "Array initializer line break mode" to "Break if long or multiline". Now it was at "Break if long".
[settings.txt](https://github.com/Barteling/STweep/files/6125883/settings.txt)

You probably want this as well Structure Initializers line break mode.
I have to say that this option is not well visible in the UI i'll fix that.

Some background information:
A : ARRAY OF

[2021-03-12 08:03] Roald87 commented on #9
I'm still a bit confused. However I now got it to work when I set __Array initializers > Array initializer parameters__ to __Break if line length overflow__

This is the result with these [settings_correct_linebreak.txt](https://github.com/Barteling/STweep/files/6128407/settings_correct_linebreak.txt)
[code]

If I set __Array initializers > Array initializer parameters__ to __Break if line length

[2021-03-12 08:06] Roald87 opened #28 "Preview should show combined effect of selected options"
There are a lot of options and it is sometimes confusing what the effect is of a certain option combination. See for example #9. If would be nice if the options preview

![image](https://user-images.githubusercontent.com/20192767/110910525-c0f69400-8311-11eb-909b-b4f55c275a2d.png)

showed the combined effect of the selected options instead of the effect of one of them.

[2021-03-12 08:28] Barteling commented on #9
yes that is how it supposed to work. Or at least how it does work right now
First example the array initializer is  broken due to line length, and perhaps maximum number of arguments. not all possible splits are broken because you set : Break if line length overflow, and there is no overflow any more.
by setting "LineBreakBeforeRightBracketInArrayInitializer": true you basically say the this split

[2021-03-12 08:35] Barteling commented on #28
This is something I considered
There is however a drawback on this, a lot of settings have no effect when certain other settings are set
So you change a setting, watch the preview, and nothing happens..

This is why I always show the preview with a set of settings which always shows the effect of a setting.

An alternative would be to show the preview with your current set of settings, and overrid

[2021-03-12 08:35] HAHermsen commented on #28
A nice idea, but how could it be presented to the user in a clear fashion?
I can imagine a new preview pane with a "chunck of code" which shows the compounded preview settings.

[2021-03-13 08:51] Roald87 commented on #9
I think that would be much better, because that is easier to explain and it is what I (and most people?) would expect.

[2021-03-13 09:09] Roald87 commented on #28
Maybe those should be greyed out?

I think something like how its done in the Visual studio options is pretty clear.

![formatting_options](https://user-images.githubusercontent.com/20192767/111025312-97a63880-83e3-11eb-9331-95cdd104e1d2.gif)

[2021-03-15 10:37] sagatowski opened #29 ""Check for updates" window shows wrong version as latest one"
**Describe the bug**
The "Check for updates" window seems to show wrong version as the latest one. If have version 3.1.4 installed but it shows that the latest version is 3.1.3. See attached screenshot.

![latestversion](https://user-images.githubusercontent.com/33381702/111140499-af67f300-8582-11eb-9646-0600668b829b.png)

**STweep version info**
STweep version 3.1.4.

**IDE version info**
TwinCAT

[2021-03-15 21:54] Barteling commented on #29
Thanks,
Fixed it on the server side.

[2021-03-15 21:54] #29 closed, assigned to Barteling

[2021-03-16 07:11] SamuFinnos opened #33 "Function chaining format"
I have a function that uses method chaining to create a message. The formatter does not format it nicely
Before format:
[code]

After format:
[code]
This would be the preferred option:
[code]

[2021-03-16 07:22] sagatowski commented on #29
Seems to work fine, good job.
![image](https://user-images.githubusercontent.com/33381702/111270920-c402c480-8630-11eb-9531-cc00c9732649.png)

[2021-03-16 08:02] Barteling commented on #33
@SamuFinnos , Thank for reporting, I agree this has to be improved.
I'll pick it up.
I will close this issue because it's a duplicate of #10 I'll report progress in there.

[2021-03-16 08:02] #33 closed, assigned to Barteling

[2021-03-16 08:17] SamuFinnos opened #34 "Format on save"
Pretty self explanatory but would be an amazing feature.

[2021-03-16 09:13] Barteling commented on #34
I consider this, on the other hand this might also be something which comes with STweep CLI. See : #32

[2021-03-17 08:10] Barteling commented on #9
@Roald87, STweep for TwinCAt 3.1.5-Beta changes this, can you have a look this beta?

[2021-03-18 09:39] Roald87 opened #35 "Preview of Line break after '[' in array initializer doesn't update"
All the array boolean options update the preview, except the line break after `[`.

![array_initializer](https://user-images.githubusercontent.com/20192767/111604450-a28f0d80-87d5-11eb-8fa2-f4e747ac5234.gif)

Problem only seems in the preview. When formatting the real code, it does place a line break after `[`.

- STweep: TwinCAT 3.1.5-Beta
- IDE: Microsoft Visual Studio Community 2017 Version 15.

[2021-03-18 10:37] Barteling commented on #35
Thanks for noting,
I see the problem.

The preview code is
<pre>
Variable2 : ARRAY[0..2] OF BOOL [TRUE, FALSE];
</pre>
This is however not an array initializer but a function block initializer and starting with 3.1.5-Beta treated as such.
The difference is ':=', is should be:
<pre>
Variable2 : ARRAY[0..2] OF BOOL := [TRUE, FALSE];
</pre>

I'll update the preview code in the next release.

[2021-03-21 21:19] Barteling commented on #35
Fixed in 3.2.0 Beta

[2021-03-21 21:19] #35 closed, assigned to Barteling

[2021-03-26 07:48] #9 closed

[2021-03-26 08:14] Barteling commented on #10
I  improved formatting of fluent interfaces in STweep for TwinCAT beta 3.3.0 and Stweep for Codesys 3.3.0

https://www.stweep.com/codesys-beta-releases/
https://www.stweep.com/releases/

[2021-03-26 08:14] #10 closed

[2021-03-26 08:14] Barteling commented on #33
@SamuFinnos

I  improved formatting of fluent interfaces in STweep for TwinCAT beta 3.3.0 and Stweep for Codesys 3.3.0

https://www.stweep.com/codesys-beta-releases/
https://www.stweep.com/releases/

[2021-03-26 08:35] Barteling commented on #3
I would like some input for the CLI line here : #32

[2021-04-06 09:35] GISED-Link opened #36 "Wrong behaviour in the case statement"
**Describe the bug**
When I format my code, line of code are deleted, see result below.

**Expected behavior**
 - The initial code before formatting.
[code]
 - The current result after formatting.
[code]
 - The expected result.
[code]
 - An export of the used settings.
see file atteched (sorry, github doesn't support .stweep file)
[GISED_Link_STWEEP_config.zip](https://github.com/Barteling/STweep/

[2021-04-06 09:44] GISED-Link commented on #34
This could be a good idea. Since I have a bug on a specific section of my code, I would prefer to have first a flag/decorator that can stop STweep from running on a given set of lines (I haven't found anything on the documentation). So if STweep still has trouble with some lines of code, I could ignore them until the bug is fixed 👍🏻

[2021-04-06 10:22] HAHermsen commented on #34
IMHO this is not such a good idea as I have the autosave feature anabled and the project I am working on is currently 1200+ (and growing) objects. I'd rather see STweep either be enabled by the user or by some agent script on commit via webhooks.

[2021-04-06 10:29] Barteling commented on #36
Thanks for reporting,
Ill check what is going on here

Update, I can reproduce it. I'll prepare an hotfix tonight.

[2021-04-06 10:53] HAHermsen commented on #12
My opinion;
Forgetting a semi-colomn is not formatting issue, so there is no point of point of a generating warning in STweep.
Plus, the compiler will see this as an error and report it as such so you can correct it manually.
I think STweep should only "reformat"  and not "auto-correct" source-code (auto-correct as in remove compiler errors).

Therefore;
Any errors present in the sourcecode before

[2021-04-06 11:16] HAHermsen commented on #28
Any feedback on this feature or is it on the backburner?

[2021-04-06 12:12] Roald87 opened #37 "Exception when formatting array with trailing comma"
When attempting to format:

[code]

I get the following System.InvalidOperationException:

![image](https://user-images.githubusercontent.com/20192767/113708479-8f3ed600-96e1-11eb-88fc-782973af0af6.png)

And no formatting is done. If I remove the trailing comma after the last number it properly formats.

**STweep version info**
STweep v3.3.1 for TwinCAT

**IDE version info**
Microsoft Visual Studi

[2021-04-06 12:15] Barteling commented on #37
Thanks for reporting.
Ill check what's going on

[2021-04-06 12:20] Barteling commented on #28
Hmm, I think at one point I will go for this.

However, for now I prefer to spent my time on bug fixes, formatting features, STweep CLI.

[2021-04-07 08:28] Barteling commented on #37
Fixed in STweep for TwinCAT 3.3.2 ->  https://www.stweep.com/releases/
Codesys update will follow soon.

[2021-04-07 08:29] #37 closed, assigned to Barteling

[2021-04-07 08:29] Barteling commented on #36
Fixed in STweep for TwinCAT 3.3.2 ->  https://www.stweep.com/releases/
Codesys update will follow soon.

[2021-04-07 08:29] #36 closed, assigned to Barteling

[2021-04-08 11:23] GISED-Link opened #38 ""Equals := 0 = MEMCMP(THIS, ADR(Station), SIZEOF(FB_Station));" breaks the formatter"
**Describe the bug**
Do not format anything

 - The initial code before formatting.
[code]
 - The current result after formatting.
 nothing changed

 - The expected result.
[code]
 - The folowing code does format correctly (commented the line with the MEMCMP):
[code]

 - An export of the used settings.
[GISED_Link_STWEEP_config.zip](https://github.com/Barteling/STweep/files/6278147/GISED_Link_STWE

[2021-04-08 11:28] GISED-Link commented on #38
EDITED
To compare 2 FB of the same type, I tried to do this:
[code]
where `THIS^._MoverList[i].Station` is a member of the FB (I know it is obvious) and is a reference to a FB_Station.
where `StationTest` is an input of my POU and a reference to FB_Station.

The compiler gives me this error:
`THIS^._MoverList[i].Station' is not allowed as operand for ADR`
but nothing for StationTest.

I have not i

[2021-04-08 11:47] Barteling commented on #38
Thanks for reporting I'll check what problem is.

So regarding your FB comparison, what are you trying to find out, that you have two fb's which are the same instance?
Or that you have two FB's which are of the same type? perhaps derived.

Is the __VarInfo perhaps of use?

https://infosys.beckhoff.com/english.php?content=../content/1033/tc3_plc_intro/2529165707.html&id=

[2021-04-08 12:23] Barteling commented on #38
<pre>
	Equals := 0 = MEMCMP(THIS, ADR(Station), SIZEOF(FB_Station));
</pre>

The problem is the 'THIS' argument. STweep expects the dereference symbol '^' after 'THIS'.

Fails to format<pre>MethodCall(THIS);</pre>
Formats ok<pre>MethodCall(THIS^);</pre>

I'll update the parser.

[2021-04-08 14:39] GISED-Link commented on #38
Thank you for the input. I never used __VarInfo berfore but it looks nice.

What I'm trying to do is to replicate the c# object.Equals method. I think I have found something in the c# doc:
https://docs.microsoft.com/en-us/dotnet/api/system.object.equals?redirectedfrom=MSDN&view=net-5.0#System_Object_Equals_System_Object_System_Object_

For me, checking the references is enough. But it looks like t

[2021-04-08 15:31] Roald87 commented on #38
@GISED-Link You could use the [AssertEquals](https://tcunit.org/api/#AssertEquals) method from the TcUnit library.

[2021-04-09 09:15] GISED-Link commented on #38
@Roald87 Thanks of the idea, I have not thought about it.

I have looked at the function METHOD PUBLIC AssertEquals found here:
https://github.com/tcunit/TcUnit/blob/master/TcUnit/TcUnit/POUs/FB_TestSuite.TcPOU

I found a MASSIVE implementation 😮, a bit too much for what I intended. The "test_equal" schem is really good, it really inspire me 🥇

By the way, the only twincat forum I found is on link

[2021-04-09 12:03] Roald87 commented on #38
That's the same one.

You can just use the TcUnit library as well. No need to write your own implementation.

Just wait, you'll probably be accepted. I think it is the best place for TwinCAT related discussions. No need to start another one in my opinion. Although you can always do it of course :p. Also more and more stuff gets posted on StackOverflow, so you might be able to find answers/ask quet

[2021-04-09 12:37] GISED-Link commented on #38
This code throw a message, I just want to return a BOOL value and if possible to have a base abstract class that all my FB derive from so they get an already implemented Equals method (and a ToString()). Or I am missunderstanding something?

[2021-04-09 13:15] Aliazzzz commented on #38
EDIT: fixed wikipedia url

A forum is a good idea, but for sake of completeness I wish to inform you that TwinCAT users are more then welcome on to post questions on www.forge.codesys.com. The codesys forge is open to any CODESYS variant on the market, so TwinCAT is heartly welcome. Forge is a multi faceted forum, with wiki's, git and / or svn repo's for open source projects, faq, support etc, etc

[2021-04-11 20:57] Barteling commented on #38
Fixed in 3.4.0 both TwinCAT and Codesys versie.

[2021-04-11 20:57] #38 closed, assigned to Barteling

[2021-04-12 20:15] patopat opened #39 "Multi-lines pragma directive"
Hi,

Pragma directive defined on multi-lines aren't handling. Could you improve it ?

**Current :**
![image](https://user-images.githubusercontent.com/20794916/114455059-9717e200-9bdb-11eb-8d9d-61322a691af1.png)

**After format code :**
![image](https://user-images.githubusercontent.com/20794916/114455334-ee1db700-9bdb-11eb-9ea7-157dfce4962e.png)

**Expected :**
![image](https://user-images.github

[2021-04-13 07:00] Barteling commented on #39
Currently STweep does indeed not change to content of pragmas.
I have plans for improvement of this but this is quite tricky because pragmas can literally look like anything, so where am to place my spaces and new lines?
Of course there are certain predefined attributes I could use, to for example indent within a pragma IF.

I'm not exactly sure what you wan to see in the expected code example cod

[2021-04-13 07:18] patopat commented on #39
In my example, the TCLinkTo attribute could be view as a variable assignment, so formatting rules could be applied easily.
I think, in most cases pragma directives take place on a single line, except TCLinkTo.

And yes, indent within a pragma IF is expected, so could be a setting.

[2021-04-13 16:57] Barteling commented on #39
Understood,
I close this issue for now but I keep this on the enhancement list.
But I'm not sure about a time path yet, i have some enhancements with an higher priority.

[2021-04-13 16:57] #39 closed, assigned to Barteling

[2021-04-14 07:42] Roald87 commented on #37
Got a similar exception:

![image](https://user-images.githubusercontent.com/20192767/114671840-d2620000-9d04-11eb-872e-975167302e7e.png)

when attempting to format

[code]

Using [settings.txt](https://github.com/Barteling/STweep/files/6309047/settings.txt) and STweep v3.4.0

[2021-04-14 09:02] Barteling opened #40 "STweep throws a no solution found exception"
Got a similar exception:

![image](https://user-images.githubusercontent.com/20192767/114671840-d2620000-9d04-11eb-872e-975167302e7e.png)

when attempting to format

[code]

Using [settings.txt](https://github.com/Barteling/STweep/files/6309047/settings.txt) and STweep v3.4.0

_Originally posted by @Roald87 in https://github.com/Barteling/STweep/issues/37#issuecomment-819304904_

[2021-04-14 09:04] Barteling commented on #40
although it's the same message I don't think it related to issue #37 so I created a new issue
I'll check whats going on.

[2021-04-14 12:32] Roald87 opened #41 "Visual Studio warning about STweep unresponsivemess"
Since I installed STweep 3.4.0 I get this warning when I start Visual Studio 2017 Community 15.9.33:

![image](https://user-images.githubusercontent.com/20192767/114710327-dd7d5600-9d2d-11eb-816e-a1ddbbd6910a.png)

I didn't see this warning with =< v3.3.

Did something change in the background which makes the extension a lot slower since v3.4?

[2021-04-14 13:39] Barteling commented on #41
Actually I have seen this as well myself. But i'm not sure why, the package complies with all Visual studios requirements in terms of background loading and in this last version nothing changed in that.
The only thing what takes times is the license check with the server. This depends a bit on the internet connection.
When did this message occur, before or after loading a solution?

[2021-04-14 13:43] Roald87 commented on #41
After loading the solution.

[2021-04-15 08:41] Barteling commented on #41
Ok, and have you also noticed the delay or was it more a false positive message of visual studio?

[2021-04-15 09:23] Roald87 commented on #41
Not really, just the message. Although opening this particular solution is always very slow. So it is difficult to say if it was slower with the new Stweep version.

Anyway, you can close it if you'd like. I just wanted to let you know.

[2021-04-16 06:43] Barteling commented on #41
Ok, yes thanks for noting!
I'll close it for now but let me know if you encounter this more often.

[2021-04-16 06:43] #41 closed, assigned to Barteling

[2021-04-28 07:27] Barteling commented on #14
I'm working on this feature, I hope to have it in a beta soon so stay tuned for that.

[2021-04-29 08:04] Roald87 opened #42 "STweep formats arrays without bounds"
**Describe the bug**
The following code has no bounds for the array. Usually when you try to format code with an error, STweep doesn't do anything. In this case it will format the code

[code]

Once you add array bounds it will format correctly.

[code]

**Expected behavior**
I do not expect STweep to format anything in such a case.

STweep  v3.4.0.
Microsoft Visual Studio Community 2017 Version 1

[2021-04-29 08:17] Barteling commented on #42
I'll check it.

_Usually when you try to format code with an error, STweep doesn't do anything._
When there are parsing errors STweep skips the part with the parsing error, But for example when a statement has a parsing error STweep may attempt to format a next statement if it does not have a parsing error.

[2021-04-29 21:31] Barteling commented on #40
Fixed this in 3.5.0-Beta
https://www.stweep.com/Beta-releases/
Codesys version is to follow soon

[2021-04-29 21:31] #40 closed, assigned to Barteling

[2021-05-07 12:22] wla-git opened #44 "option to keep single line if then ... end_if"
Can you add an option to keep the single line if then end_if?

I think line length limit should overrule this option

e.g.
IF [condition] THEN [statement] END_IF

[2021-05-07 14:04] Barteling commented on #44
Technically I could yes. It has been requested more.
I never worked on it because the need did not seem to high, (and I personally don't like it), so it was not high on my priority list.
See also the discussion here: #15

But if you really want it i'll see what I can do.
But I think  would prefer an option like: "Place IF statements with one statement one a single line" or something like that.
Rat

[2021-05-07 14:09] wla-git commented on #44
reading the thread you noticed, i guess this was my request ;-)
Your suggestion is "Place IF statements with one statement one a single line" is exactly the option i like to use..

when multiple statements are used, always use the standard formatting, I agree completely with the previous thread.

[2021-05-09 20:33] Barteling commented on #44
Yes it was your request, but you we're not the only one.

I'll put this option on my feature list, but I have yet to decide how to implement it, and I have some features with a higher priority so I don't expect it in the next few releases.

I'll keep you up to date 👍🏼

[2021-05-17 07:29] Roald87 opened #45 "Formatting array with numbers in scientific notation is slow/crashes STweep"
The following code is very slow to format

[code]

If I add a second array

[code]

and try to STweep it, I get the following error

![image](https://user-images.githubusercontent.com/20192767/118447942-a2d25900-b6f1-11eb-8bb4-8ee1a4b0d2e0.png)

- STweep v3.4.0 for TwinCAT
- Visual Studio Community 2017 v15.9.35
- [roald.STweep.txt](https://github.com/Barteling/STweep/files/6491952/roald.STweep.tx

[2021-05-17 08:06] Barteling commented on #45
Thanks for reporting, i'll check it.
The exception is the fail save, if formatting takes more than a minute I cancel the formatting job,
This is intended to prevent full visual studio crashes if I accidentally end up in an endless loop or something.
But apparently this is also pretty heavy.

[2021-05-17 08:20] Barteling commented on #45
Update: if you set the setting "Maximum array initializer parameters on a single line" to 9 or lower, you make life much easier for STweep.

[2021-05-17 09:51] Roald87 commented on #45
Good to know. I'll try it. Thanks!

[2021-05-24 21:20] Barteling commented on #14
Stweep 3.5.1-Beta for Twincat and Codesys has support for disabling and enabling STweep.
This can be done with either {STweep.Disable} , {STweep.Enable}  or (* STweep.Disable * ), (** STweep.Enable *). Or mixed.
https://www.stweep.com/beta-releases

Looking forward to any feedback regarding this feature.

[2021-06-03 09:59] GISED-Link opened #46 "Bug or feature / comment in function block call are treated as they are a part of the affectation"
**Describe the bug**
When I call a FB, like fb_theBesFbEverMade(), if the line is too long STWeep tries to slice it, wich is good. But STWeep seems to also take in account the comment part. I think it is the only place where the comment is taken in account (compared to variable declaration or affectation outside a FB call).
Maybe I have a parameter wrong?

**Expected behavior**
 - The initial code

[2021-06-03 11:28] Barteling commented on #46
Thanks for your report,
I can reproduce your results.

But I think it is as expected. STweep always takes end of line comments into account for maximum line length. And I believe that is as it should be.

Even here on github, I find the formatted example easier readable:
![image](https://user-images.githubusercontent.com/33071638/120637465-3dab9100-c46f-11eb-8f8c-6e0c0951b3b6.png)

I'll leave this

[2021-06-03 11:36] GISED-Link commented on #46
Thank's for the feedback. I was myself not sure (it is why you see bug / feature in the title). I think the best thing to do with such a case is to put this comment above.

Oh and I see that you haven't choosen the dark (theme) side of github.

[2021-06-03 12:06] Barteling commented on #46
`I think the best thing to do with such a case is to put this comment above.`
i agree.

`Oh and I see that you haven't choosen the dark (theme) side of github.`
Contrary to most developers i'm not to fond of dark themes^^
I'm pretty happy with the windows Night light function which I use all day long.

[2021-06-03 12:06] #46 closed, assigned to Barteling

[2021-06-07 10:08] Roald87 opened #47 "Function inputs not indented"
Not sure if this is intended, if a setting is wrong or this is a bug.

[code]
- "STweep for TwinCAT 3.4.0
- [settings.txt](https://github.com/Barteling/STweep/files/6607948/settings.txt)

[2021-06-07 10:56] Barteling commented on #47
Looks like a bug to me, Parameters[3] to [9] should definitely be indented from 'SomeFunction'
Thanks for reporting.

[2021-08-22 14:53] Barteling commented on #47
I fixed this in STweep for Codesys 3.6.1-beta and STweep for TwinCAT 3.6.3-Beta

https://www.stweep.com/beta-releases/

[2021-08-22 14:53] #47 closed, assigned to Barteling

[2021-09-20 06:23] elconfa opened #48 "Error on opening TcXaeShell 4024.20"
After copying the beta files (3.6.4.BETA) I have this error.

  <entry>
    <record>592</record>
    <time>2021/09/20 06:16:29.311</time>
    <type>Information</type>
    <source>VisualStudio</source>
    <description>Begin package load [STweepPackage]</description>
    <guid>{88A658A1-DCBF-4EF3-A8CF-636FA7F6E813}</guid>
  </entry>
  <entry>
    <record>593</record>
    <time>2021/09/20 06:16:29.3

[2021-09-20 06:57] Barteling commented on #48
My Italian is not what is used to be, but it looks like it cannot find the STweep.Formatter.Dll
Did you make sure to unblock the files before copying as described here?
https://www.stweep.com/documentation/installation-guide-twincat-xae-shell/

[2021-09-20 07:17] elconfa commented on #48
You are right. Thanks for the fast answer

[2021-09-20 07:17] #48 closed, assigned to Barteling

[2021-11-03 14:26] Roald87 opened #49 "Third and fourth struct elements of an array initializer are put on the same line"
Somehow only the fourth array element gets placed on the same line as the others. Also if you extend the array to lets say 10 elements, only the fourth one has this peculiar behavior.

[code]

If I change "Break if line length overflow" to "Break if line length overflow or multiline" it works "as expected". Is this intended behavior, that only the fourth element is placed on the same line as the p

[2021-11-04 14:59] Barteling commented on #4
This is available since 3.6.5
https://www.stweep.com/releases/

[2021-11-04 15:20] Barteling commented on #49
Thanks for letting me know.
I can repeat it, and this is definitely not intended.

I'll dig in to this.

Note to self:
With the attached set of setting I even get an formatting exception with the above example.

[Throws.STweep.txt](https://github.com/Barteling/STweep/files/7475947/Throws.STweep.txt)

[2021-11-15 09:28] Barteling commented on #49
I fixed this is Stweep for TwinCAT 4.0.0-beta.
https://www.stweep.com/beta-releases/

The update for the Codesys version will follow soon.

[2021-11-15 09:28] #49 closed, assigned to Barteling

[2022-01-18 11:05] GISED-Link opened #50 "STweep doesn't format some DUT's files"
**Describe the bug**
sometimes STweep simply refuses to work on some DUT files. I have join the complete file because when I copy paste the code on another DUT where STweep runs, the code is correctly formated. The problem seems on the things around the code itself.

This is a file where STweep works:
[ST140_Alarm_e (working).zip](https://github.com/Barteling/STweep/files/7888395/ST140_Alarm_e.wor

[2022-01-19 07:59] Barteling commented on #50
Thanks for the thorough report. I could reproduce it.

I think it's related to the setting "Add text file support".
If i disable this it seems to work as expected. Can you confirm this?
![Untitled](https://user-images.githubusercontent.com/33071638/150088277-3a70f5d0-3b47-4f9b-b5e4-696b15cba91a.png)

[2022-01-19 12:19] GISED-Link commented on #50
Yes, I can confirm. Extension of the problematic files are *.TcLEO and not *.TcDUT due to this textlist support

Hopefully I don't need this "text file support" anymore since I am not doing visualization from Twincat anymore.

[2022-01-19 13:21] Barteling commented on #50
Ok, i''ll see to add support for these files in a next release version nevertheless.

[2022-01-19 13:21] #50 closed, assigned to Barteling

[2022-01-25 17:12] tan-wei-xin-alez opened #51 "STweep deletes global variables when used in reference assignment"
**Describe the bug**
Formatting the following code with STweep
[code]
[code]
causes the global variables in the CODESYS Declaration Editor to be automatically deleted as seen below
[code]
<br>

Even utilizing conditional formatting (doesn't matter whether via comments or pragmas) does not prevent the global variables from being deleted as seen below
[code]
<br>

Strangely enough, adding some other

[2022-01-25 17:31] Barteling commented on #51
Thanks for reporting!  i'll see what's going on.

[2022-01-25 18:57] tan-wei-xin-alez opened #52 "STweep throws exception when formatting empty array declaration"
**Describe the bug**
Formatting the following code with STweep
[code]
causes STweep to throw the following exception in CODESYS
[code]
<br>

Even utilizing conditional formatting (doesn't matter whether via comments or pragmas) does not prevent error from being thrown as seen below
[code]

**Expected behavior**
Even if empty arrays will not be supported, conditional formatting should still work so

[2022-01-25 19:03] Barteling commented on #52
Thanks for reporting!

Is an empty array initializer valid according to the codesys compiler?

[2022-01-25 19:07] tan-wei-xin-alez commented on #52
Yes, apparently it is, I didn't even realize there was an empty array initializer in the code till I ran STweep on it σ(^_^;)

[2022-01-27 15:27] Barteling commented on #52
I fixed this in STweep for TwinCAT 4.0.1  which is available here : www.stweep.com/releases

and I fixed this in STweep for Codesys 4.0.0 which will probably be available Monday 31 in the Codesys store.
If you are in a hurry with the STweep for Codesys Version please sent me an email www.stweep.com/contact

[2022-01-27 15:27] #52 closed, assigned to Barteling

[2022-01-27 15:27] Barteling commented on #51
I fixed this in STweep for TwinCAT 4.0.1  which is available here : www.stweep.com/releases

and I fixed this in STweep for Codesys 4.0.0 which will probably be available Monday 31 in the Codesys store.
If you are in a hurry with the STweep for Codesys Version please sent me an email www.stweep.com/contact

[2022-01-27 15:27] #51 closed, assigned to Barteling

[2022-01-28 14:09] tan-wei-xin-alez opened #53 "No solution found when MaxStructureInitializerParametersOnSingleLine value is too small"
**Describe the bug**
Formatting the following code using STweep with `"MaxStructureInitializerParametersOnSingleLine": 5`
[code]
[code]
causes STweep to throw the following exception in CODESYS
[code]
<br>

Adding a line break between `:=` and `[` causes the exception to go away and results in the following
[code]
<br>

Increasing `MaxStructureInitializerParametersOnSingleLine` to `6` also causes

[2022-01-28 14:28] Barteling commented on #53
Could you upload your settings file ? if you change the extension from .stweep to .txt you can upload it.
Now i miss the checksum.

[2022-01-28 14:33] tan-wei-xin-alez commented on #53
Ahhhh so drag and drop is how you do it, couldn't find a button for attachments so I was just copy and pasting the contents
I've updated the issue with the txt file

[2022-01-28 15:04] Aliazzzz commented on #53
Hi, lemme confirm this on my box too ;-) Wait for it please.

[2022-01-28 15:10] Barteling commented on #53
I cannot repeat it with your settings and example, i changed structure initializers back from 10 to 5.
But, i'm running on the latest version in TwinCAT, please wait for the 4.0.0 release on Monday and try it again.
(Before i start spending my weekend on a problem which is already solved^^)

[2022-02-01 16:01] tan-wei-xin-alez commented on #53
Yep, you were right. Does not happen in 4.0.0 release so considered fixed,

[2022-02-01 16:01] #53 closed, assigned to Barteling

[2022-02-03 22:23] crthomas1234 opened #54 "Option to indent all declaration types to the furthest indention"
When formatting your variable declarations, I would like the option to align the : <var type> to the longest variable name indention in order to keep all declarations in a single column.

I would also like to have this option for declaration comments.

[2022-02-04 13:18] Barteling commented on #54
Could you make me an example with some code before and after formatting?

[2022-02-04 18:42] crthomas1234 commented on #54
Hi Gerhard.

Thank you for your email and considering my request.  I purchased the
program yesterday and am really happy with it.  I have wanted something
like this for so long as I spend so much time going back and cleaning up my
code.  I had often thought of how I could use python scripting for
something like this.  And then STWeep came along and fixed this for me.  A
lot of my coworkers think I

[2022-02-05 20:21] Barteling commented on #54
Hi Chris,

I also don't like poor formatted code so that was the reason i developed STweep haha.
I don't see the picture you talk about, got you perhaps drop them here directly on github?

[2022-02-07 15:37] crthomas1234 commented on #54
Hi Gerhard.  Here are the images from before / after my request.

![STWeep_desired_formatting](https://user-images.githubusercontent.com/98989074/152820165-7cafae70-ac39-4b97-b4af-095bb64af641.png)
![STWeep_current_formatting](https://user-images.githubusercontent.com/98989074/152820189-d13aec96-fe62-4d4a-bf29-b4b0efb43ede.png)
.

[2022-02-08 08:23] Barteling commented on #54
This is the main reason I personally don't like the options of alignment in columns ^^ But l made Stweep configurable with a reason, opinions and tastes differ.

Some of my thoughts:
One of the reasons STweep aligns columns only if the elements are on consecutive lines is to give you the option to handle edge with very long variable a type names, Like you showed on the first picture.

Supporting t

[2022-02-09 15:47] crthomas1234 commented on #54
Hi Gerhard.

Thanks for  your feedback on the topic. I agree on not having a single line
comments in the declaration if nothing more than the fact that it throws
off how Codesys adds the comment to the variable as it first takes the
comment above it before the one after it.  The code I was using was from a
project of the forge site, but it contained a lot of declarations so it
made a good example

[2022-02-09 20:34] Barteling commented on #54
Yes on short term I don't see an perfect solution for this. But i'm constantly looking for improvement so definitely keep this in consideration.

Glad you like PLCCoder! I hope to find some time to write some more content for that haha.
I close this issue but let me know if you have more ideas!

[2022-02-09 20:34] #54 closed, assigned to Barteling

[2022-02-16 15:07] crthomas1234 commented on #54
Hey Gerhard,

I had a question for you, so I will just use this email thread.

I have a variable declaration section that when I select the format code,
then nothing happens.  This is the section:

[image: image.png]

Can you see any reason why the refactoring would be skipped here?  It works
in all of the other sections I have used so far.

BR,

Chris

On Wed, Feb 9, 2022 at 3:35 PM Gerhard Barte

[2022-02-17 07:59] Barteling commented on #54
Hi Chris
Could you check the picture? i dont see any picture attached

[2022-02-23 15:51] tan-wei-xin-alez opened #55 "STweep does not apply formatting when code contains statements that have no effect"
**Describe the bug**
Formatting the following code with STweep
[code]
[code]
[code]
results in no change in CODESYS even though `InvocationParametersLineBreakMode` has been set to "Break always"

Even utilizing conditional formatting (doesn't matter whether via comments or pragmas) does not yield formatted code as seen below
[code]

Only by commenting out the statement which has no effect does the

[2022-02-23 22:02] Barteling commented on #55
Hi @tan-wei-xin-alez
I can repeat this,

The problem is that STweep sees `test;` as an unknow statement/parsing error. And if there are parsing errors formatting is not executed because STweep cannot be sure what to do/expect.

But I noticed that Codesys is fine with `Test;` and only gives a compiler warning.
I'll add this on the todo list.
Thanks for noting.

[2022-02-23 22:02] #55 closed, assigned to Barteling

[2022-03-04 15:42] nbuchele-KAMP opened #56 "Invocation call parameters assignments format not working"
**Describe the bug**
The "Invocation call parameters assignments" option is not aligning assignment operators.

**Expected behavior**
I would expect the code to look like this:
![image](https://user-images.githubusercontent.com/85587088/156793624-afe5321a-ec15-48d1-b88e-ede504ec75ec.png)

However, the code is formatted to this:
![image](https://user-images.githubusercontent.com/85587088/156793274-

[2022-03-04 15:57] Barteling commented on #56
I think there is no alignment because you are using tabs for alignment.
And the difference between the variable length is not big enough for a tab. in your example you need 1 or 2 spaces for alignment.

You might want to have  at the parameter Alignment style when tabs are used.
You currently have set this to 'Tabs' but consider "Tabs and spaces" or "all members in columns" depending on your prefe

[2022-03-04 22:22] nbuchele-KAMP commented on #56
I changed to the "All members in columns" and that fixed it. Thanks for the help!

[2022-03-04 22:22] #56 closed, assigned to Barteling

[2022-03-06 15:18] nbuchele-KAMP commented on #34
I agree with @HAHermsen. Instead, I'd rather see a format on Build. Builds happen with less frequently than saves, so it wouldn't be overly intrusive. You might need to add some sort of flag to track if a file has already been formatted and has not been changed. Then you wouldn't have to waste time formatting files that don't need it.

[2022-03-10 16:25] nbuchele-KAMP opened #57 "Erroneous code is deleted"
**Describe the bug**
When I formatted my code, it deleted text. I was under the impression that it would **never** delete any code, aside from whitespace. Is this an accurate assumption? Specifically, I had the line seen below:
`bGRN	%I*	: BOOL;`
After formatting, it looks like this:
`bGRN		: BOOL;`

**Expected behavior**
I realize that I forgot to add the 'AT' before the '%I*' in this code. Howev

[2022-03-11 10:34] Barteling commented on #57
Your assumption are correct, Stweep should never delete code, and only modify whitespace.
Stweep should not format your code when there are parsing errors, but apparently something goes wrong here.
I'll check it.

[2022-04-21 12:32] rruiter87 opened #58 "STweep not found on google"
I just wanted to download STweep and googled "download STweep", but no results showed up. There was only one relevant result from the CODESYS store. Otherwise it mostly showed results for "download Sweep". Is https://www.stweep.com/ not indexed by google?

[2022-04-21 13:21] I-Campbell commented on #58
When I search it, it thinks stweep is a typo of steep.

This guy seems to offer a solution of "just ignore it until it goes away."
https://support.google.com/webmasters/thread/24875935/google-thinks-my-name-is-a-mispelling?hl=en

[2022-04-21 20:34] Barteling commented on #58
I guess the release page is not that popular then, it should be included by google indexing..
Just keep searching^^

Or go to www.stweep.com/releases

[2022-04-21 20:34] #58 closed, assigned to Barteling

[2022-04-22 08:45] rruiter87 opened #59 "Changes to spaces arund assignment operator in function block not saved"
I tried to disable the "Spaces > Binary operators > Around assignment operator in function block initializer parameter assignment", but this option not saved somehow. If I uncheck another option, for example "Spaces > Binary operators > Around equality operator", it gets saved.

As a workaround I tried to save the settings, change it manually and import them, but then I get a checksum error :p.

-

[2022-04-22 09:17] Barteling commented on #59
Hmm I cannot repeat it,
Does the preview screen work ?
Does the form mention a change left of the control buttons
![1](https://user-images.githubusercontent.com/33071638/164676371-f2555455-bc53-4fa1-b062-15c854b4647c.PNG)
?

[2022-04-22 09:26] rruiter87 commented on #59
Yes

Yes

See it in action

![stweep_settings](https://user-images.githubusercontent.com/98890535/164677990-2cf03ed9-03d4-4f81-839e-b605d67dab8d.gif)

[2022-04-22 10:49] Barteling commented on #59
My bad i didnt read your first post well, i tested the 'Around assignment operator' instead of the 'Around assignment operator in function block initializer parameter assignment '

I can confirm the bug, i'll check what's going on.

[2022-05-16 16:28] crthomas1234 opened #60 "Alignment of comparison"
The formatter will align assignment operators but it will not align comparison operators.  Is this an option or can it be improved?

![CodeAfterFormatUsed](https://user-images.githubusercontent.com/98989074/168639862-bae65daf-0a37-4063-8f4d-adeae2f59a1e.png)

[2022-05-17 08:33] Barteling commented on #60
Hmm, I understand what you want,
No at this moment it is not possible.

You are right about the assignment operator, but it doesnt work with any comparison operator like '=' or '>' or '<='
Maybe a general option where you could align operators withing the same expression could do something like this:

[code]

Not sure how much I like that, but that a matter of taste of course.

[2022-05-17 12:40] crthomas1234 commented on #60
Hi Gerhard,

I like your proposal for a general option for the feature.  Your alignment
proposal is also what I was thinking of as a solution.

Thank you for the response.

Regards,

Chris

On Tue, May 17, 2022 at 4:33 AM Gerhard Barteling ***@***.***>
wrote:

[2022-05-17 21:04] Barteling commented on #60
I'll add it to my list,
I dont think it will be released on short term, but i'll see what i can do.

[2022-05-17 21:04] #60 closed, assigned to Barteling

[2022-05-17 21:17] crthomas1234 commented on #60
Thanks!

On Tue, May 17, 2022 at 5:04 PM Gerhard Barteling ***@***.***>
wrote:

[2022-05-23 08:24] rruiter87 opened #61 "Missing download link STweep CLI getting started"
There is no download link for the[ STweep CLI](https://www.stweep.com/documentation/getting-started-3/).

![grafik](https://user-images.githubusercontent.com/98890535/169776394-e82d68d2-ddd9-499c-a036-539fe309a8ed.png)

[2022-05-23 08:56] Barteling commented on #61
Fixed

[2022-05-23 08:56] #61 closed, assigned to Barteling

[2022-05-23 09:19] rruiter87 opened #62 "Idea: Marketplace release"
Maybe an idea to add an nuget release? Then it would be much easier to update to the latest version.

[2022-05-23 09:52] Barteling commented on #62
Nuget is more intended to add dll's etc to your current project is'nt it?

I think the marketplace is more something i should look at:
https://marketplace.visualstudio.com/

[2022-05-23 10:50] rruiter87 commented on #62
Ah yes that is correct.

[2022-05-23 10:55] Barteling commented on #62
It is on my bucket list

[2022-05-23 10:55] #62 closed, assigned to Barteling

[2022-05-24 12:22] rruiter87 opened #63 "Formatting support for local/implicit enums"
The following code is reformatted, despite being much shorter than 100 characters. I guess it is because these types are not recognized?

[code]

- STweep 4.0.4
- [settings.txt](https://github.com/Barteling/STweep/files/8762568/settings.txt)

[2022-06-01 06:46] Barteling commented on #63
Apologies for the late reaction, i missed this issue.

But thanks for noting, i agree this is not correctly formatted.
STweeps support for implicit enums is limited. (STweep uses the formatting style from a explicit type declaration where you typically have a member on each line.)

I'll see if I can enhance this in a future release

[2022-06-01 06:51] Barteling commented on #59
This is fixed in the latest releases of both Twincat and Codesys

[2022-06-01 06:51] #59 closed, assigned to Barteling

[2022-06-01 07:02] Barteling commented on #57
I improved this the latest release, both Codeys and TwinCAT

[2022-06-01 07:02] #57 closed, assigned to Barteling

[2022-06-01 07:03] Barteling commented on #3
There is a CLI available now: https://stweep.onfastspring.com/

[2022-07-14 14:11] rruiter87 opened #64 "No linebreak when a comment pushes a line above 100 chars"
[code]

The desired effect would be no change. With the line break, the comment doesn't show in the online view.

![image](https://user-images.githubusercontent.com/98890535/179002476-e40bc019-8bc1-46ac-aabb-950edc6fcce0.png)

I looked through the settings and I couldn't find one which fixes this. Or did i miss it? Note that as soon as the reformatted line would go above 100, STweep doesn't reform

[2022-07-14 14:58] Barteling commented on #64
Hmm tricky.
Basically STweep is doing the right thing in my opinion.

You have a line limit of 100, the EncoderWarning declaration exceeds this.
if stweep breaks the declaration the line length limit is respected.

If you make the comment a bit longer, as you showed line breaking does change the fact the line length is exceeded, so Stweep leaves it as is.

So it does as it is asked. However I did

[2022-07-14 16:13] HAHermsen commented on #64
You should try (* *) as multi line comment

[2022-07-15 07:18] rruiter87 commented on #64
Thanks for the suggestions @Barteling  and @HAHermsen. I now fixed it by either removing character so the whole line is <100 char _or_ adding some to make the comment line + indent exceeds 100 chars.

I agree STweep is doing the right thing. It was just a bit annoying.

[2022-07-15 07:18] #64 closed, assigned to Barteling

[2022-08-01 14:26] vmax77 opened #65 "Alignment seems off"
**Describe the bug**
The declaration alignments do not seem to respect the setting.

**Expected behavior**
Preformatting:
![image](https://user-images.githubusercontent.com/4384278/182169613-c104cf54-3fbe-4aeb-8b8d-69b044b02613.png)

Post Formatting
![image](https://user-images.githubusercontent.com/4384278/182169708-acdfb0ad-884e-4473-a7ab-5398961d283a.png)

I would have expected the declarations

[2022-08-01 14:58] Barteling commented on #65
Hmm operation cancelled exception probably means i have hit my time out safety limit.
I'll dig into it.

could you post the code above in text form? saves me a bunch of typing ^^

[2022-08-01 14:59] vmax77 commented on #65
Sure thing

[code]

[2022-08-01 15:01] vmax77 commented on #65
I hit format code on the entire PRG, the alignment problem still exists but the error gets generated while formatting this method

[code]

[2022-08-03 19:33] Barteling commented on #65
I did some digging,
You have some uncommon settings, which exposed some bugs, so thanks for that 👍🏼

The timeout in this method:

[code]

Is caused by some bugs in STweep. I fixed them and they will be included in the next release, which will be end of august.
Short term fix: Change "Blank lines before multi line statement" from 2 to 1. Saves STweep a lot of thinking ^^

The invalid alignment in t

[2022-08-03 23:18] HAHermsen opened #66 "Extend STweep for CODESYS with the ability to get called from a python script ( IronPython )"
**Is your feature request related to a problem? Please describe.**
This feature is related to an issue which currently only exists in the "CODESYS branch" of STweep.

**Describe the solution you'd like**
This suggestion an extension of the STweep for CODESYS specifically.
Its goal is provide a clean an concise way for CODESYS users to STweep a specific project or library through a scripted manner.

[2022-08-04 05:29] vmax77 commented on #65
Thank you Gerhard. I guess I will keep my reputation to break things ^_^. Thank you so much for looking into it

[2022-08-04 11:20] Barteling commented on #66
Without looking too much into this, i do think this is a good idea.

It should technically not be to hard, the only thing is that I have not worked with the codesys script engine, or created something like this before.

So I guess it's doable ^^
I'll put it on my list. I'm working on some major updates for STweep ( in general, thus also codesys ^^), but i'll have  look at this once that is finishe

[2022-08-09 13:40] GISED-Link opened #67 "Function not formatted correctly"
**Describe the bug**
This code does not format correctly:
[code]

but this one does:
[code]

**Expected behavior**
[code]

**STweep version info**
STWeep for TwinCAT 4.0.4

**IDE version info**
I use Twincat shell

**Additional context**
It is the ADR('some nice strings) that STWeep does not like

[2022-08-09 20:55] Barteling commented on #67
Got it, thanks for the thorough research!  Stweeps parser does indeed not expect a string literal in a ADR function.

It will be fixed in the next release

[2022-08-15 09:32] WS-nfi opened #68 "Option for newline at start of file"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.
Twincat places `<ST><![CDATA[` in front of its first line (A). If new code (B) is written before the previous first line (A), git wrongly thinks that line (A) has changed.  This also happens at the end of the file, however a a check can be set to add a newline at the end of th

[2022-08-15 09:35] WS-nfi commented on #68
Not a check but an Int.
![image](https://user-images.githubusercontent.com/111277213/184612310-92c2a8e3-e5ce-4dbc-bce3-798983076970.png)

[2022-08-17 11:51] Barteling commented on #68
Should be doable,
I'll see if I can implement this is a future release

[2022-08-17 14:02] HAHermsen commented on #66
Being Ill has also some upsides as it give the opportunity to think about things.
TwinCAT users will directly benefit from this C#/Iron python extension also as the original C# exposed interface of the STweepScriptingAPI.DLL is easily integrated into XAR or VS.NET or VSCODE. The dll name is just a suggestion ;-)

2) When Python comes along please also be very aware and sure to add/include a stub f

[2022-08-22 08:04] Barteling commented on #66
Thanks for your input Haico,
Not sure if I need a additional DLL for the for IronPython,

I quickly glanced at the Codesys documentation, but it should be pretty simple. Not sure how the intellisense will work out though..

no sure if this also they way i want to include it in VSCode etc.. perhaps the current CLI is better suited for that.. with license management included :-)

[2022-09-05 09:40] mark-lazarides opened #69 "Error formatting file when no bugs"
**Describe the bug**
When formatting some DUTs in a library project, STWeep (4.04) is throwing errorr that: Error formatting file, code contains parsing errors and cannot be parsed.

**Expected behavior**
The same code currently compiles in an active PLC project - I assume STWeep should not report this error and format the file

**STweep version info**
"STweep for TwinCAT 4.01"

**IDE version info

[2022-09-05 10:02] Barteling commented on #69
Got it, please remove the semicolon after 'END_TYPE' for STweep to work.

I'll update my parser to possibly expect a semicolon after END_TYPE

[2022-09-05 10:08] mark-lazarides commented on #69
That fixed that one! Another has popped up (sorry, I'm updating an old libary). Exactly the same error, on this:
[code]

[2022-09-05 10:48] Barteling commented on #69
Problem seems to be with the FINAL operator, didnt expect that on a property..
Will be fixed

[2022-09-07 13:52] WS-nfi opened #70 "No newline at end of file if last line is a comment"
**Describe the bug**
When a newline is set to be at the end of the file, no newline is at end of file if last line is a comment

**Expected behavior**
Expect a new line

**STweep version info**
"STweep for TwinCAT 4.0.4"

**IDE version info**
Twincat v15

**Additional context**
![image](https://user-images.githubusercontent.com/111277213/188895557-cfd851d8-1498-4df9-85da-1f070faf71aa.png)

[2022-09-07 15:08] Barteling commented on #70
I cannot repeat this,
Perhaps it's related to your specific settings set could you send me an export of your settings? (Change the extension to .txt to upload it here).

[2022-09-16 07:26] WS-nfi opened #71 "No indent in Case if it is only a variable"
**Describe the bug**
In a Case statement a line with a variable and a ";" is gets no indent by STweep

**Expected behavior**
Proper indentation is expected

**Additional context**
Add any other context about the problem here.

[2022-09-16 07:26] WS-nfi commented on #71
![image](https://user-images.githubusercontent.com/111277213/190581391-c2901da5-60ad-4069-b7fa-9331b7aaef7c.png)

[2022-09-16 07:34] WS-nfi commented on #70
This is one of the methods:
![image](https://user-images.githubusercontent.com/111277213/190582858-02a39ac8-79c6-4c88-b7c4-1b2a4cd8fb6a.png)

[2022-09-16 07:35] WS-nfi commented on #70
[STweep_Options.txt](https://github.com/STweep/STweep/files/9581727/STweep_Options.txt)

[2022-09-16 08:20] Barteling commented on #71
hmm, i can confirm this,

i don't think it only in the case statement, more a general thing,
STweep does not understand why you would have a single variable there, so it leaves it as it (if you indent it manually it stays there).

So, why do you have a single variable placed in your case?

[2022-09-16 08:24] WS-nfi commented on #71
Twincat also gave me a warning about it.
I indented it manually and then asked STweep to restructure, but it removed the indent.
![image](https://user-images.githubusercontent.com/111277213/190592262-20f0cbb6-d5ce-4bfd-86f1-40d43408c654.png)

Its a nice debug feature to have the latest errorReason in the Error state. This means I don't have to go looking for it.

[2022-09-16 08:25] WS-nfi commented on #71
Since it works I have not made the time to look for a warning-less way to do it.

[2022-09-16 08:57] Barteling commented on #70
Yep got it, will work on a solution

[2022-09-27 09:18] Barteling commented on #69
Fixed in 4.1.0-Beta, could you let me know this worked?
https://www.stweep.com/beta-releases/

[2022-09-27 09:18] #69 closed, assigned to Barteling

[2022-09-27 09:19] Barteling commented on #44
Added in 4.1.0- Beta
https://www.stweep.com/beta-releases/

[2022-09-27 09:19] #44 closed, assigned to Barteling

[2022-09-27 09:19] Barteling commented on #63
Added in 4.1.0- Beta
https://www.stweep.com/beta-releases/

[2022-09-27 09:19] #63 closed, assigned to Barteling

[2022-09-27 09:20] Barteling commented on #67
Fixed in 4.1.0- Beta
https://www.stweep.com/beta-releases/

[2022-09-27 09:20] #67 closed, assigned to Barteling

[2022-09-27 09:21] Barteling commented on #28
Changed in 4.1.0- Beta
https://www.stweep.com/beta-releases/

I leave this issue open to hear your experiences with this new behaviour

[2022-09-27 09:24] Barteling commented on #22
Supported in 4.1.0-Beta
https://www.stweep.com/beta-releases/

[2022-09-27 09:24] #22 closed

[2022-09-27 09:25] Barteling commented on #12
improved in 4.1.0-Beta
https://www.stweep.com/beta-releases/

[2022-09-27 09:25] #12 closed

[2022-09-28 12:02] Rednas83 commented on #34
I would love to have this feature too.

Why not make it as a configurable option?

Something like:
![image](https://user-images.githubusercontent.com/25219229/192771778-d57d5194-3ea3-4fea-bdfe-a66d8ba23b6f.png)

[2022-10-25 09:55] GISED-Link opened #73 "Comment alignement not perfect"
**Describe the bug**
[code]

**Expected behavior**
If possible, I would have my comment at the same alignement as the ELSIF and ELSE element.
Exception:
[code]
Here I would like to have the comment before the END_IF aligned with the previous one

**STweep version info**
Twincat XAE 4.1.2
('bug' was always there, I just write the issue now)

**Additional context**
This is not something that causes

[2022-10-25 10:41] Barteling commented on #73
I think I agree, I'll see what I can improve

[2022-10-26 06:34] Schorsch1991 opened #74 "Wrong line Brake"
**Describe the bug**
The line Brake following line brake is not so nice.

![grafik](https://user-images.githubusercontent.com/97521719/197952220-3c46c5e8-cb14-4124-a52a-bec03ca1039e.png)

**Expected behavior**
i think it is better to make a new line in Arguments of Methode like the following
![grafik](https://user-images.githubusercontent.com/97521719/197952963-4555824e-f535-44e6-b1b9-23c0b7a4fc6f

[2022-10-26 07:40] Barteling commented on #74
Could you send me your setting files as well?
It is possible with some slightly different settings

[2022-10-26 07:43] Schorsch1991 commented on #74
Yea shure.

Von: Gerhard Barteling ***@***.***>
Gesendet: Mittwoch, 26. Oktober 2022 09:41
An: STweep/STweep ***@***.***>
Cc: Georg Vogt ***@***.***>; Author ***@***.***>
Betreff: Re: [STweep/STweep] Wrong line Brake (Issue #74)

Could you send me your setting files as well?
It is possible with some slightly different settings

-
Reply to this email directly, view it on GitHub<https://github.com/S

[2022-10-26 07:44] Schorsch1991 commented on #74
[StweepSettings.zip](https://github.com/STweep/STweep/files/9867260/StweepSettings.zip)

[2022-10-26 11:15] Barteling commented on #74
You should have a look at the following settings:
Wrap long lines at : 200
Maximum invocation parameters on single line 4:
Invocation parameters line break mode : Break if line length overflow or multiline.

STweep always tries to place as much code on a single line, unless told other wise by the settings.
So in this case by doing the above it could do the job with one line break.

if you do not w

[2022-10-26 11:15] #74 closed, assigned to Barteling

[2022-10-26 13:02] Schorsch1991 commented on #74
Thank your Gerhard for Explanation.

Greatings from Germany

Von: Gerhard Barteling ***@***.***>
Gesendet: Mittwoch, 26. Oktober 2022 13:16
An: STweep/STweep ***@***.***>
Cc: Georg Vogt ***@***.***>; Author ***@***.***>
Betreff: Re: [STweep/STweep] Wrong line Brake (Issue #74)

You should have a look at the following settings:
Wrap long lines at : 200
Maximum invocation parameters on single line 4

[2022-11-04 09:55] vmax77 opened #75 "1User and multiple computer license"
Problem:
Having to purchase license per device instead of per person seems a bit cumbersome. Since in our team, we usually have a "commissioning" computer we tend to take on-site and usually air-gapped and our main computers at our desks which is inside the company network. I am sure we are not unique in this issue

Solution:
Having Tiered licensing such as :
- 1xUser 1xDevice
- 1xuser 3xDevice
-

[2022-11-06 20:08] Barteling commented on #75
Hi Vmax77

If you order for example 5 license in one order in the webshop, you will receive 1 license key which can be activated up to 5 times parallel, The activation can be changed between workstations (manually), as long as the total activation count is lower than 5. i guess this basically cover your tier 1 and 2

I have local floating licenses available, but this starts to be interessting for

[2022-11-06 20:08] #75 closed, assigned to Barteling

[2022-11-08 12:45] GISED-Link opened #76 "Remove trailing whitespace of comment"
[code]

I don't need those extra bytes in my files :)

Maybe add a checkbox with "remove trailing whitespace from comment" or something like that? I don't know if it is a good thing for everyone... Especially for those with ugly file headers 🤷🏻‍♂️

[2022-11-09 12:51] Barteling commented on #76
Thanks for you input!
I'll add this to me idea list, but don't expect it on short term

[2022-11-09 12:51] #76 closed, assigned to Barteling

[2022-11-09 13:25] GISED-Link commented on #76
I have no idea how you tokenize the comments... But if you have the complete line inside a token you could easily trim the end:
https://www.tutlane.com/tutorial/csharp/csharp-string-trim-method-trimstart-trimend#:~:text=In%20c%23%2C%20the%20string%20TrimEnd,array%20from%20the%20string%20object.

[2022-11-09 15:11] Roald87 commented on #76
You can also remove trailing spaces with a pre-commit hook as I explain [here](https://cookncode.com/twincat/2022/04/14/pre-commit.html#twincat-relevant-pre-commits)